.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(180deg, #102049, #0A142D 100%);
  padding: 1.5rem;
  position: sticky;
  top: 0;
  z-index: 1000;
}


.logo {
  font-size: 2rem;
  font-weight: bold;
  background: radial-gradient(circle, rgba(22,192,204,1) 27%, rgba(0,225,255,1) 51%, rgba(31,181,179,1) 83%);
  background-clip: text;
  color: transparent;
  animation: gradientAnimation 3s linear infinite;
}

.hamburger {
  display: none;
  flex-direction: column;
  gap: 6px;
  cursor: pointer;
}

.hamburger span {
  width: 28px;
  height: 3px;
  background: white;
  border-radius: 3px;
}

.navbar-menu {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.nav-links {
  display: flex;
  margin: auto;
  gap: 3rem;
  list-style: none;
  padding: 0;
}


@media (max-width: 768px) {

  .navbar {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem 1.5rem;
    position: sticky;
    top: 0;
  }

  .logo {
    font-size: 1.8rem;
  }

  .hamburger {
    display: flex;
    flex-direction: column;
    gap: 6px;
    cursor: pointer;
    z-index: 20;
  }

  .navbar-menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1.5rem 0;
    background: #0A142D;
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    transform-origin: top;
    animation: fadein 0.2s ease;
  }

  .navbar-menu.open {
    display: flex;
  }

  @keyframes fadein {
    from { opacity: 0; transform: scaleY(0.95); }
    to { opacity: 1; transform: scaleY(1); }
  }

  .nav-links {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  .nav-links li {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .navbar-right {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}
