.teacher-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #F9FAFB;
}

.find {
    display: flex;
    flex-direction: column;
    padding: 1.25rem 10rem;
}

.teacher-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #000;
    font-size: 4.25rem;
    font-style: normal;
    font-weight: 800;
    line-height: 4.375rem;
    margin-top: 4.25rem;
    gap: 6rem;
}

.search-container {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 0.5rem;
    margin-top: 3.75rem;
    margin-bottom: 1rem;
}

.teacher-input {
    flex: 1;
    font-size: 1.5rem;
    height: 3.5rem;
    background-color: #D7D7D7;
    border: none;
    padding: 0.8125rem 1.625rem;
    border-radius: 1.875rem;
    box-sizing: border-box;
    max-width: 60rem;
}

.card-container {
    margin-top: 5rem;
    margin-bottom: 9rem;
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: center;
}

.teacher-input::placeholder {
    color: #808080;
    font-weight: 500;
}

.teacher-header {
    background: radial-gradient(circle,rgba(22, 92, 204, 1) 27%, rgba(22, 31, 204, 1) 51%, rgba(16, 32, 73, 1) 83%);
    background-clip: text;
    color: transparent;
    background-size: 200% auto;
    animation: gradientAnimation 3s linear infinite;
}

.add-teacher-card {
  width: 260px;
  height: 387px;
  background-color: #d9d9d9;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  transition: transform 0.2s ease;
}

.add-teacher-card:hover {
  transform: translateY(-5px);
}

.add-plus {
  font-size: 5rem;
  color: #6b6b6b;
  margin-bottom: 1rem;
}

.add-profile-btn {
  background-color: #aec0cb;
  color: black;
  padding: 0.6rem 1.5rem;
  border-radius: 10px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  box-shadow: 0 3px 6px rgba(0,0,0,0.15);
}

.add-profile-btn:hover {
  background-color: #cdd8de;
}

@keyframes gradientAnimation {
    0% {
        background-position: 200% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@media (max-width: 768px) {
  .find {
    padding: 1.5rem 1rem;
  }

  .teacher-header {
    font-size: 2.3rem;
    margin-top: 1rem;
    gap: 2rem;
    text-align: center;
  }

  .search-container {
    margin-top: 2rem;
    padding: 0 0.3rem;
  }

  .teacher-input {
    width: 100%;
    max-width: 420px;
    font-size: 1.1rem;
    height: 3rem;
    padding: 0.6rem 1rem;
  }

  .card-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    justify-content: center;
    gap: 1.5rem;
    margin-top: 3rem;
    margin-bottom: 5rem;
  }
}

