.terms-container {
  padding: 3rem 6rem;
  line-height: 1.5;
  background-color: #F9FAFB;
}

.terms-container h1 {
  font-size: 3rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

.terms-container section {
  margin-bottom: 2rem;
}

.terms-container h2 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.terms-container h3 {
  margin-left: 3rem;
}

.text {
  font-weight: 450;
  font-size: 1rem;
}

.terms-container p {
  margin-bottom: 0.8rem;
    margin-left: 3rem;
}

.terms-container ul {
  list-style-type: disc;
  margin-left: 4.5rem;
}

.terms-container a {
  color: #0066cc;
  text-decoration: none;
}

.terms-container a:hover {
  text-decoration: underline;
}

.update-date {
  font-size: 0.9rem;
  color: #666;
  text-align: right;
  margin-top: 2rem;
}

@media (max-width: 768px) {
  .terms-container {
    padding: 2rem 1rem;
    max-width: 420px;
    width: 100%;
    margin: 0 auto;
  }

  .terms-container h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .terms-container h2 {
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
  }

  .terms-container h3 {
    margin-left: 0;
    font-size: 1.1rem;
    margin-top: 1rem;
  }

  .terms-container p,
  .terms-container .text {
    margin-left: 0;
    font-size: 1rem;
  }

  .terms-container ul {
    margin-left: 1.5rem;
  }

  .update-date {
    text-align: center;
    margin-top: 2rem;
    font-size: 0.85rem;
  }
}
