.footer {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(180deg, #102049, #0A142D 100%);;
  color: #fff;
  text-align: center;
  padding: 1.5rem;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer-links a {
  color: #fff;
  justify-content: space-between;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-links a:hover {
  color: #4da6ff;
}

.footer-social {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
  gap: 1rem;
}

.footer-social a {
  color: #fff;
  text-decoration: none;
  margin-left: 1rem;
  font-size: 1.3rem;
  transition: color 0.3s ease;
}

.footer-social a:hover {
  color: #4da6ff;
}

.footer-address {
  font-size: 0.9rem;
  margin-top: 0.5rem;
  color: #FFF;
}

@media (max-width: 768px) {

  .footer {
    padding: 2rem 1rem;
    text-align: center;
  }

  .footer-container {
    flex-direction: column;
    gap: 2rem;
    align-items: center;
  }

  .footer-links {
    align-items: center;
  }

  .footer-links a {
    font-size: 1.1rem;
  }

  .footer-social {
    align-items: center;
    text-align: center;
  }

  .footer-address {
    font-size: 1rem;
    line-height: 1.4rem;
  }
}
