.btn, .red-btn {
  background-color: #90D5FF;
  color: #000000;
  font-weight: 600;
  border: none;
  padding: 0.625rem 0.625rem;
  border-radius: 0.375rem;
  cursor: pointer;
  font-size: 0.9rem;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.red-btn {
  background-color: red;
}

.large-btn, .hele-btn, .very-large-btn, .second-hele-btn, .profile-btn, .findteacher-btn {
  background-color: #90D5FF;
  color: black;
  font-weight: 600;
  border: none;
  padding: 0.625rem 1rem;
  border-radius: 0.375rem;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.hele-btn {
  background-color: #E4F5FF;
  border-radius: 1.875rem;
  height: 2rem;
  font-size: 0.77rem;
  font-weight: lighter;
  width: fit-content;
  transition: all 0.3s ease;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.25);
}

.very-large-btn {
  padding: 0.625rem 5rem;
  background-color: #009FFF;
  width: 20rem;
  margin-top: 1.2rem;
  align-self: center;
  transition: all 0.3s ease;
  display: block;
  margin: 1.2rem auto 0 auto;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.second-hele-btn {
  background-color: #E4F5FF;
  border-radius: 1.875rem;
  height: 2rem;
  font-size: 0.77rem;
  font-weight: lighter;
  margin-top: 2rem;
  transition: all 0.3s ease;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.25);
}

.profile-btn {
  padding: 0.625rem 3rem;
}

.findteacher-btn {
  font-size: 2rem;
  border-radius: 1.25rem;
  padding: 0.7rem 2.5rem;
  font-weight: 550;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  height: 3.5rem;
  letter-spacing: 0.08rem;
}

.btn:hover, .large-btn:hover, .profile-btn:hover {
  background-color: #009FFF;
  transform: translateY(-1px);
}

.red-btn:hover {
  transform: translateY(-1px);
}

.large-btn:hover {
    transform: translateY(-1px);
}

.btn:focus, .large-btn:focus, .profile-btn:focus {
  background-color: #0056b3;
}

.hele-btn:hover, .second-hele-btn:hover {
  background-color: #BBE5FF;
  transform: translateY(-1px);
}

.findteacher-btn:hover {
  background-color: #6DC8FF;
}

.very-large-btn:hover {
  background-color: #0084FF;
  transform: translateY(-2px);
}
