.container {
  margin: 0 auto;
  padding: 20px;
  margin: 0;
  padding: 0;
  font-family: "Inconsolata";
  color: #000000;
}

.card {
  display: flex;
  flex-direction: column;  
  background-color: #D9D9D9;
  width: 14.375rem;
  height: 19.375rem;
  border-radius: 1.25rem;
  padding: 2.3rem 1.4rem;
  text-align: center;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
    transition: transform 0.2s ease;
}

.profile-picture {
  width: 6.25rem;
  height: 6.25rem;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto 20px;
}

.profile-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.name {
  font-size: 1.0625rem;
  font-weight: 800;
}

.kraad {
  font-size: 0.875rem;
  font-weight: 600;
  margin: 10px 0;
}

.천petab,
.description {
  margin: 10px 0;
}

.천petab {
  font-size: 0.875rem;
  font-weight: 500;
}

.description {
  font-size: 1.0625rem;
  font-weight: 700;
}

.card:hover {
    transform: translateY(-5px);
}

@media (max-width: 768px) {
  .card {
      width: 80%;
      max-width: 16rem;
      height: auto;
      padding: 1.5rem 1rem;
  }

  .profile-picture {
      width: 4rem;
      height: 4rem;
      margin-bottom: 1rem;
  }

  .name {
    font-size: 0.95rem;
  }

  .kraad {
    font-size: 0.8rem;
    margin: 8px 0;
  }

  .천petab, .description {
    margin: 0.5rem 0;
  }

  .천petab {
    font-size: 0.75rem;
  }

  .description {
    font-size: 0.95rem;
  }

  .container {
    padding: 0.7rem;
  }

  .card:hover {
    transform: none;
  }
}
