.apply-page {
  background-color: #102049;
  height: 120vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(180deg, #102049, #0A142D 100%);
}

.apply-box {
  background-color: #f7f8fa;
  padding: 50px;
  border-radius: 15px;
  width: 500px;
  margin-top: -3rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.apply-title {
  font-size: 2.5rem;
  font-weight: 600;
  color: black;
  line-height: normal;
}

.apply-subtitle {
  font-size: 1.3rem;
  color: black;
  font-weight: 500;
  margin-top: 30px;
}

.apply-form label {
  font-size: 1.5rem;
  font-weight: 450;
  color: black;
  margin-top: 2rem;
  display: block;
}

.apply-form input {
  font-size: 1.5rem;
  background-color: #90D5FF;
  border: none;
  border-radius: 4px;
  padding: 7px;
  margin-top: 1rem;
  margin-bottom: 0rem;
  width: 30rem;
}

.apply-form input::placeholder {
  color: black;
  font-size: 1.25rem;
}

.user-terms_2 {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  margin-top: -1rem;
}

.user-terms_2 input[type="checkbox"] {
  width: 1rem;
  height: 1rem;
  accent-color: #009FFF;
  cursor: pointer;
  position: relative;
  top: 8px;
}

.user-terms_2 label {
  font-size: 0.85rem;
  color: #333;
  font-weight: 400;
}


@media (max-width: 768px) {

  .apply-page {
    padding: 5rem;
    min-height: 100vh;
  }

  .apply-box {
    width: 100%;
    padding: 2rem 1.5rem;
    border-radius: 12px;
    margin-top: 0;
  }

  .apply-title {
    font-size: 2rem;
    text-align: center;
  }

  .apply-subtitle {
    font-size: 1.1rem;
    text-align: center;
    margin-top: 0.5rem;
  }

  .apply-form label {
    font-size: 1.1rem;
    margin-top: 1.5rem;
  }

  .apply-form input {
    width: 90%;
    font-size: 1.2rem;
    padding: 0.7rem;
    border-radius: 6px;
    margin-top: 0.5rem;
  }

  .apply-form input::placeholder {
    font-size: 1rem;
  }

  .user-terms_2 {
    margin-top: 1rem;
    gap: 0.6rem;
  }

  .user-terms_2 label {
    font-size: 0.9rem;
  }


}
