html, body, #root {
  height: 100%;
  margin: 0;
  flex-direction: column;
  font-family: "Inconsolata";
  box-sizing: border-box;
  overflow-x: hidden;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}
